<nav style="background-color: #333; padding: 10px;">
  <ul style="list-style: none; margin: 0; padding: 0; display: flex; gap: 15px;">
    <li><%= link_to "Categories", categories_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Products", products_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Suppliers", suppliers_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Customers", customers_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Employees", employees_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Stores", stores_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Orders", orders_path, style: "color: white; text-decoration: none;" %></li>
    <li><%= link_to "Order Items", order_items_path, style: "color: white; text-decoration: none;" %></li>
  </ul>
</nav>
